@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #28292E;

    --title-color: #9A9A9C;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #DF5800;
    --menu-link-color: #FF7417;
}

:root[data-theme='light'] {
    --primary-color: #0B0B0F;

	--primary-bg-color: #F8F8EC;
	--secondary-bg-color: #C7C8C9;
	--primary-border-color: #C7C8C9;
	--secondary-border-color: #9A9A9C;

	--title-color: #0B0B0F;
	--text-color: #28292E;
	--link-color: #28292E;
	--icon-color: #DF5800;
    --menu-link-color: #FF7417;
}

html[data-theme='light'] .brand__logo {
   content: url('../../assets/images/logo-jb.png');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;    
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

i {
    color: var(--icon-color);
}

footer p {
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ESTILIZANDO HEADER (LOGO E ICONE)*/

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 1rem;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
  width: 7rem;
  height: 7rem;
}

.header__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.header__brand #heart {
    font-size: 1.4rem;
    color: var(--icon-color);
   
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

#toggleTheme.bi-moon-stars {
    transform: scale(1.2); /* Aumenta o tamanho do ícone da lua */
}


/*ESTILIZANDO O MENU*/

.menu {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);

}

.menu__item {
    width: 100%;
}

.menu--mobile {
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--menu-link-color);
    font-weight: 600;
}
.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

@media (min-width: 768px) {
    .header {
        border-bottom: 1px solid var(--border-color);
        position: fixed;
        padding: 1rem 6rem;
    }

    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}

